.NoVisible {
  display: none;
}

.modal-form {
  width: 320px;
  height: 560px;
  background-color: #ffffff;
  position: fixed;
  top: 56px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.modal-form__error {
  text-align: start;
  color: #f00;
  font-size: 12px;
  font-family: Inter;
}

.modal-form__title {
  text-align: start;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 900;
}

.modal-form__label {
  text-align: start;
  color: #2f71e5;
  font-size: 12px;
  font-family: Inter;
  padding-bottom: 8px;
  padding-top: 30px;
}

.modal-form__label_mail {
  padding-top: 18px;
}

.modal-form__input {
  color: #000;
  font-size: 14px;
  font-family: Inter;
  border: 0;
  border-bottom: 1px solid #cccccc;
}

.modal-form__close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -32px;
  right: 16px;
  transition: opacity 0.5s linear;
  z-index: 1;
}

.modal-form__button {
  margin-top: 23px;
  border: none;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  /* background: #ffffff; */
  width: 288px;
  height: 64px;
  border-radius: 80px;
}

.modal-form__text {
  padding-top: 16px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
}

.modal-form__text_span {
  color: #2f71e5;
}

@media screen and (min-width: 768px) {
  .modal-form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 380px;
    padding: 36px;
    border-radius: 16px;
  }

  .modal-form__close {
    width: 40px;
    height: 40px;
    top: -40px;
    right: -40px;
  }

  .modal-form__button {
    margin-top: 39px;
    align-self: center;
    width: 358px;
  }

  .modal-form__label_mail {
    padding-top: 22px;
  }
}
