.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.content__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #1a1b22;
}
.content__button {
  border: none;
  background: #ffffff;
  border-radius: 80px;
  width: 288px;
  height: 56px;
}
.content__button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 40px;
    gap: 64px;
  }

  .content__title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #1a1b22;
    align-self: flex-start;
  }

  .content__button {
    width: 240px;
  }
}
@media screen and (min-width: 1440px) {
  .content {
    padding: 80px 104px;
  }

  .content__title {
    width: 100%;
  }

  .content__button {
    width: 268px;
    height: 64px;
  }
}
