.about {
  width: 100%;
  padding-top: 32px;
  margin-top: 24px;
  height: 752px;
  background: #fff;
}

.about__image {
  width: 272px;
  height: 272px;
  border-radius: 1000px;
}

.about__title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #1a1b22;
  text-align: start;
}

.about__paragraph-container {
  display: flex;
  flex-direction: column;
}

.about__text-container {
  width: 288px;
  height: 264px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .about {
    margin: 0;
    padding: 40px 40px 0;
    width: 100%;
    background: #ffffff;
    display: flex;
    gap: 32px;
    height: 354px;
  }

  .about__image {
    width: 232px;
    height: 232px;
  }

  .about__text-container {
    width: 424px;
    height: 168px;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    padding: 80px 104px;
    width: 100%;
    gap: 56px;
    height: 624px;
  }

  .about__image {
    width: 464px;
    height: 464px;
  }

  .about__text-container {
    width: 600px;
  }

  .about__paragraph-container {
    gap: 24px;
    padding-top: 51px;
  }

  .about__title {
    font-size: 40px;
    line-height: 46px;
  }
}
