.NoVisible{
  display: none;
}

.navigate__links_container{
  display: none;
}


.overlay {
  width: 100%;
  height: 230px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #1a1b22;
  padding: 16px;
}

.overlay__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  padding-bottom: 16px;
}

.overlay__text {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.overlay__img {
  width: 24px;
  height: 24px;
}

.overlay__link {
  text-decoration: none;
}

.overlay__link-text{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  color: #ffffff;
  text-align: start;
  padding-top: 15px;
  padding-bottom: 22px;
}

.overlay__button {
  background-color: transparent;
  width: 288px;
  height: 56px;
  border: 1px solid #ffffff;
  border-radius: 100px;
}

.overlay__button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.navigate{
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  display: flex;
  min-width: 320px;
  height: 56px;
  justify-content: space-between;
  padding: 16px;
  z-index: 2;
  position: relative;
}
.navigate__title{
  font-size: 16px;
  font-family: "Roboto Slab";
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  z-index: 2;
}
.navigate__menu{
  width: 24px;
  height: 24px;
  z-index: 2;
}

@media screen and (min-width: 768px) {
.navigate{
  min-width: 768px;
  height: 66px;
  align-items: center;
  padding: 0 40px;
}
.navigate__title{
  font-size: 20px;
}
.navigate__menu{
  display: none;
}
.overlay__button {
  width: 152px;
  height: 40px;
}
.overlay__link-text {
font-size: 16px;
font-family: "Roboto";
font-weight: 500;
line-height: 24px
}
.navigate__links_container{
  display: flex;
  align-items: center;
  gap: 16px;
}
}
@media screen and (min-width: 1440px) {
.navigate{
  min-width: 1440px;
  height: 80px;
  align-items: center;
  padding: 0 104px;
}

.navigate__menu{
  display: none;
}
.overlay__button {
  width: 176px;
  height: 48px;
}
.overlay__link-text {
font-size: 18px;
}
.navigate__links_container{
  gap: 45px;
}
}
